<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- In your HTML template -->
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


    <title>Blog </title>
</head>
<body>
    <header>
        <h1>Your Blog</h1>
        <nav>
            <ul>
                <li><a href="{% url 'post_list' %}">Home</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <!-- Footer content here -->
    </footer>
</body>
</html>
